{{page-title "Dummy"}}

<h2 id="title">Cool App Homepage</h2>

{{outlet}}
<PrintThis @options={{this.options}} @printSelector=".customContent" as |doPrint|>
  <div class="customContent">
    <h1>Hello Printer!</h1>
  </div>
  <button class="btn-1" type="button" {{on "click" doPrint}}>Print Some!</button>
</PrintThis>

<PrintThis @options={{this.options}} as |doPrint|>
  <div class="customContent">
    <h1>Let's print it all!</h1>
  </div>
  <button class="btn-2" type="button" {{on "click" doPrint}}>Print All!</button>
</PrintThis>